

.academic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: self-start;
    
    justify-content: center;
   
    
    padding-bottom: 16px;
    width: 100%;
    background-color: var(--background-sobre-mi);
}
.academic__title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 32px 0px;
}
.academic__courses{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.academic__courses__box{
    
  
   
    padding: 0 32px;
   
    
}
.academic__courses__list{
    width: 100%;
}
.academic__courses__item__img{
    
    text-align:  center;
    height: 119px;
    
    
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--background-blanco);
    
}
.academic__courses__item__title{
    width: 124px;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    display: inline;   
    line-height: 3rem;
    
}
.academic__courses__item__subtitle{
    width: 124px;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    
    display: inline;   
}
@media screen and (min-width: 768px) {
    .academic__courses{
        
        display: flex;
        flex-direction: row;
        width: 100%;
        
        gap: 1rem;
        padding: 0 2rem;
        justify-content: center;
        
    }
    .academic__courses__box{
        min-width: 224px;
        flex-grow: 0;
        padding: 0;
       
    }
    .academic__courses__item__img{
        max-width: 368px;
        height: 266px;
    }
    @media screen and (min-width: 1440px) {
        .academic__title{
            align-self: center;
        }
        .academic__courses__box{
            min-width: 300px;
            height: 347px;
        }
        .academic__courses__item__img{
            max-width: 368px;
            height: 266px;
            padding: 5.5rem 4.8rem;
            gap: 0;
            
        }
        .academic__courses{
            justify-content: center;
        }
        .academic{
            height: 750px;
            
        }
    }
}